<h1> Edit A Star </h1>

<form action="/stars/<%= @star.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <label> Star Name </label>
      <input type="text" name="star[name]" value="<%= @star.name %>"><br><br>

  <label> Star Type: </label>
    <input type="text" name="star[star_type]" value="<%= @star.star_type %>"><br><br>

  <label> Distance from Earth (in light years): </label>
    <input type="text" name="star[distance]" value="<%= @star.distance %>"><br><br>

    <br><br>

  <label>Edit Planets:</label><br>
    <br><br>

    <% @star.planets.all.each do |planet| %>
      <label><%= planet.name %></label>
      <input type="checkbox" name="star[planet_ids][]" value="<%= planet.id %>" <%='checked' if @star.planets.include?(planet) %>><br>
      
    <% end %>

<label>Add New Planet:</label>
<input type="text" name="planet[name]">
<br><br>

<input type="submit" value="Save Star" id="submit">

</form>

<a class="button" href="/stars">Stars</a><br>
<a class="button" href="/planets">Planets</a><br>
<a class="button" href="/">Home</a>

<br><br><br><br><br>
<%= "Logged In as" if Helper.is_logged_in?(session) %> <%= @user.username %>
<br>
<a href = '/logout'><%= "Log Out" if Helper.is_logged_in?(session) %></a>
