<h1>
 Star Landing Page
</h1>


<% Star.all.each do |star| %>
  <a href="/stars/<%= star.slug %>"><%= star.name %></a> <br>
<% end %>
<br><br>
<a href="/stars/new">Add a New Star</a>

<br><br>


Stars   |   <a class="button" href="/planets">Planets</a>   |   <a class="button" href="/">Home</a>

<br><br><br><br><br>
<%= "Logged In as" if Helper.is_logged_in?(session) %> <%= @user.username %>     |     <a href = '/logout'><%= "Log Out" if Helper.is_logged_in?(session) %></a>
