
<h1>Star Information for: <%= @star.name %></h1>


-Name: <%= @star.name %><br>
-Star Type: <%= @star.star_type %><br>
-Distance from Earth: <%= @star.distance %> light years<br>

<h4><%= @star.name %> Planets: </h4>
<br>
<% @star.planets.each do |planet| %>
<c><a href = '/planets/<%= planet.id %>'><%= planet.name %></a></c><br>
<% end %>

<br><br>

<form action="/planets/new" method="get">
  <input type="hidden" id="hidden" name="star_name" value="<%= @star.name%>">
  <input type="submit" value="Add Planets">
  </form>


-----------------------------------------------------------------------------
<br>
<a href="/stars/<%= @star.id %>/edit">Edit Star</a>
<br>
<a href = "/stars">Stars Home</a>


<br><br>

<form method="post" action="/stars/<%= @star.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete this star">
</form>

<br><br>

<a class="button" href="/stars">Stars</a>    |    <a class="button" href="/planets">Planets</a><br>
<br><br>
<a class="button" href="/">Home</a>
