<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<p>
<a class="button" href="/stars">Stars</a>   |   Planets   |   <a class="button" href="/">Home</a>
</p>
<div class='jumbotron'>
<h3>All Exoplanets</h3>
<br>

<% Star.all.each do |star| %>
<p>System: <%= star.name %></p>

<% star.planets.each do |planet| %>
<ul>
<li><a href="/planets/<%= planet.slug %>"><%= planet.name %></a></li>
</ul>
  <% end %>
  <% end %>


<br>

<form method="get" action="/planets/new"><button type="submit">Add a New Planet</button></form>
<br>
</div>

<p>
<%= "Logged In as" if Helper.is_logged_in?(session) %> <%= @user.username %>     |     <a href = '/logout'><%= "Log Out" if Helper.is_logged_in?(session) %></a>
</p>
