<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>All Planets</h2>

<div class='jumbotron'>

<% @planets.each do |planet| %>

<%= p 'Star:' if planet == planet.star.planets.first %> <%= planet.star.name if planet == planet.star.planets.first %>
<ul>
<li>  <a href="/planets/<%= planet.slug %>"><%= planet.name if planet.star_id != nil %> </a>  <br>  <!--- if planet.star_id !=nil is there to prevent starless planets from showing on the list. starless planets shouldn't exist, really should just find a way to prevent that.  --->
</ul>
<% end %>
</div>
<br><br>

<a href="/planets/new">Add a New Planet</a>

<br><br>


<a class="button" href="/stars">Stars</a>   |   Planets   |   <a class="button" href="/">Home</a>

<br><br><br><br><br>
<%= "Logged In as" if Helper.is_logged_in?(session) %> <%= @user.username %>     |     <a href = '/logout'><%= "Log Out" if Helper.is_logged_in?(session) %></a>
