<%= "Logged In as" if Helper.is_logged_in?(session) %> <%= @user.username %>

<h2>All Planets</h2>


<% @planets.each do |planet| %>
  <a href="/planets/<%= planet.id %>"><%= planet.name %> </a> <br>
<% end %>

<br><br>

<a href="/planets/new">Add a New Planet</a>

<br><br>


<a class="button" href="/stars">Stars</a>   |   <a class="button" href="/planets">Planets</a>   |   <a class="button" href="/">Home</a>

<br><br><br><br><br>
<a href = '/logout'><%= "Log Out" if Helper.is_logged_in?(session) %></a>
